.nav-bar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-bar > ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-bar > ul > li {
  list-style: none;
  padding: 10px;
}
